*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container{
    max-width: 960px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{clear: both;}

header{
    background-color: #333;
    padding: 8px 0;
}

.logo-desktop{
    float: left;
}

.logo-desktop a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

nav.mobile{display: none;}

nav.desktop{
    float: right;
}

nav.desktop ul{

}

nav.desktop li{
    display: inline-block;
    margin: 0 15px;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    text-decoration: underline;
}



@media screen and (max-width: 768px){
    .logo-desktop,
    nav.desktop{
        display: none;
    }

    nav.mobile{
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
    }

    .logo-mobile a{
        font-size: 18px;
        color: white;
        text-decoration: none;
        text-decoration: none;
    }

    nav.mobile h3{
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        cursor: pointer;
    }

    nav.mobile ul{
        display: none;
        background-color: #333;
        position: absolute;
        top: 29px;
        left: -2%;
        width: 104%;
        text-align: center;
    }

    nav.mobile li{
        padding: 8px 0;
        border-top: 1px groove white;
    }

    nav.mobile a{
        text-decoration: none;
        color: white;
    }
}